body {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(7, 99, 175);
}
header {
  background-color: rgb(16, 163, 248);
  margin-bottom: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 64px;
}
.menu ul {
  display: flex;
  list-style: none;
  gap: 24px;
  a {
    text-decoration: none;
  }

  a:hover {
    color: black;
  }
}
.logo-name {
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo-menu {
  display: flex;
  align-items: center;
  gap: 8px;
}
nav {
  display: flex;
  align-items: space-between;
  align-items: center;
}
.btn-primary {
  background-color: rgb(15, 56, 235);
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
}
.btn-secondary {
  background-color: rgb(255, 255, 255);
  color: rgb(27, 84, 170);
  padding: 8px 16px;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid rgb(27, 84, 170);
}

.btn-primary:hover {
  background-color: bisque;
}

.btn-secondary:hover {
  background-color: bisque;
}

footer {
  background-color: rgb(0, 163, 204);
  height: 100px;
  /* text-align: center; */
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 0%;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}
